body {
    background-color: white;;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    color: black;;
    line-height: 1.5;
    font-size: 24px;
}
.masthead {
    display: flex;
    padding-left: 300px;
    padding-top: 300px;
    align-items: left;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.65) 100%), url(/images/hero.png) no-repeat center center scroll;
  }

  img { 
    width:470px; 
    height:300px; 
} 

  .infographic {
    text-align: center;
  }

  .loginh3 {
    padding-left: 28px;
    font-weight: 700;
  }

  .loginform {
    font-weight: 500;
  }
  
  h1 {
    color: #098191;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 1em;
    line-height: 1;
    text-shadow: 1px 2px 4px #ffffff(0, 0, 0, 0.8);
    margin-bottom: 40px;
  }
        
  button {
    font-weight: 700;
    background: #098191;
    transition: background ease .25s;
    border-radius: 5px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
  }
  button:hover {
    background: #63b6b8
  }
  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  footer {
      text-align: center;
  }

  .hero-button {
    margin: 5px;
    width: 37%;
    gap: 2px 2px;
  }

  a:link {
    text-decoration: none;
    color: white;
  }
  
a:visited {
    text-decoration: none;
    color: white;
}

.categorybtn {
  width: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  gap: 5px 5px;
  grid-template-areas:
    "profile-photo profile-photo product-nav product-nav scheduler scheduler scheduler scheduler"
    "embed-responsive embed-responsive embed-responsive embed-responsive scheduler scheduler scheduler scheduler"
    "product-info product-info product-info product-info scheduler scheduler scheduler scheduler";
}

.textarea {
  background: lightgrey;
  resize: none;
  color: #000000;
  border-left: 3px dotted black;
  border-bottom: 3px;
  border-right: 3px dotted black;
  padding: 0;
  border-radius: 0;
  text-justify: center;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  padding-bottom: 10px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;
}

.day {
  background-color: #ffffff;
  color: #000000;
  font-weight: 900;
  height: 85px;
}


.scheduler {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "monday"
    "tueday"
    "wednesday"
    "thursday"
    "friday"
    "saturday"
    "sunday";
  grid-area: scheduler;
}

.monday { grid-area: monday; }

.tuesday { grid-area: tuesday; }

.wednesday { grid-area: wednesday; }

.thursday { grid-area: thursday; }

.friday { grid-area: friday; }

.saturday { grid-area: saturday; }

.sunday { grid-area: sunday; }

.embed-responsive  {grid-area: embed-responsive;
}

.product-header {
  text-align: center;
  color: black;
  font-weight:700;
  font-size: 25px;
  padding-top: 125px;
}

.btn {
  font-weight: 700;
  background: #098191;
  transition: background ease .25s;
  border-radius: 5px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.prod_desc { 

  text-align: center;
  border: solid;
  background: #098191;
  grid-area: prod_desc;
}

.product_name { 
  text-align: center;
  border: solid;
  background: #098191;
  grid-area: product_name; }

.price { 
  background: #098191;
  text-align: center;
  border: solid;
  grid-area: price; }

.stock { 
  border: solid;
  background: #098191;
  text-align: center;
  border: solid;
  grid-area: stock; }

.entry1 { 
  border: solid white;
  background: lightgrey;
  text-align: center;
  color: black;
  grid-area: entry1; }

.entry2 { 
  border: solid white;
  background: lightgrey;
  text-align: center;
  color: black;
  grid-area: entry2; }

.entry3 { 
  border: solid white;
  background: lightgrey;
  text-align: center;
  color: black;
  grid-area: entry3; }

.entry4 { 
  border: solid white;
  background: lightgrey;
  text-align: center;
  color: black;
  grid-area: entry4; }

.entry5 { 
  border: solid white;
  background: lightgrey;
  text-align: center;
  color: black;
  grid-area: entry5; }

.entry6 { 
  border: solid white;
  background: lightgrey;
  text-align: center;
  color: black;
  grid-area: entry6; }

.entry7 { 
  border: solid white;
  background: lightgrey;
  text-align: center;
  color: black;
  grid-area: entry7; }

.entry8 { 
  border: solid white;
  background: lightgrey;
  text-align: center;
  color: black;
  grid-area: entry8; }

.mfg_date { 
  background: #098191;
  text-align: center;
  border: solid;
  grid-area: mfg_date; }

.exp_date { 
  background: #098191;
  text-align: center;
  border: solid;
  grid-area: exp_date; 
}

.author_name { 
  background: #098191;
  text-align: center;
  border: solid;
  grid-area: author_name; 
}

.category_id { 
  text-align: center;
  border: solid;
  background: #098191;
  grid-area: category_id; 
}

.profile-photo { 
  object-fit: cover;
  border:solid grey;
  margin: 10px;
  text-align: center;

  grid-area: profile-photo; 
}

.product-nav {
  display: grid;
  padding-right: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "my-inventory"
    "add-item"
    "suggestions"
    "delete-item";
  grid-area: product-nav;
}

.input-group-text {
  width: 130px;
  height: 100%;
}

.my-inventory { grid-area: my-inventory; }

.add-item { grid-area: add-item; }

.suggestions { grid-area: suggestions; }

.delete-item { grid-area: delete-item; }
