<section class="medicine">
  <h3>Add Medicine Information</h3>
  <form class="new-product-form">
    <div>
      <label for="prod-name"><b>Product Name : </b></label>
      <input type="text" id="prod-name" name="prod-name" />
    </div>
    <div>
      <label for="prod-desc"><b>Product Description : </b></label>
      <textarea id="prod-desc" name="prod-desc"></textarea>
    </div>
    <div>
      <label for="prod-price"><b>Product Price : </b></label>
      <input type="text" id="prod-price" name="prod-price" />
    </div>
    <div>
      <label for="prod-stock"><b>Product Stock : </b></label>
      <input type="text" id="prod-stock" name="prod-stock" />
    </div>
    <div>
      <label for="mfg-date"><b>Manufacturing Date : </b></label>
      <input type="date" id="mfg-date" name="mfg-date">
    </div>
     <div>
      <label for="exp-date"><b>Expiry Date : </b></label>
      <input type="date" id="exp-date" name="exp-date">
    </div>
  </form>
</section>

<div> 
    <button type="submit" class="btn">Add Product</button>
</div>

<script src="/javascript/add-product.js"></script>