<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<title>mnmlize</title>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheet/style.css">
</head>


<div class="medicine">
  <form class="new-product-form">
    <div>
      <label for="prod-name"><b>Medicine Name : </b></label>
      <input type="text" id="prod-name" name="prod-name" />
    </div>

    <div>
      <label for="prod-price"><b>Medicine Price : </b></label>
      <input type="text" id="prod-price" name="prod-price" placeholder="$" />
    </div>
    <div>
      <label for="prod-stock"><b>Quantity : </b></label>
      <input type="text" id="prod-stock" name="prod-stock" />
    </div>
    </div>
    <div class="medicine">
    <div>
      <label for="mfg-date"><b>Manufacturing Date : </b></label>
      <input type="date" id="mfg-date" name="mfg-date" placeholder="yyyy-mm-dd">
    </div>
    <div>
      <label for="exp-date"><b>Expiry Date : </b></label>
      <input type="date" id="exp-date" name="exp-date" placeholder="yyyy-mm-dd">
    </div>
    <div>
      <label for="prod-author"><b>Creator : </b></label>
      <input type="text" id="prod-author" name="prod-author" />
    </div>
      <div>
      <label for="prod-desc"><b>Product Description : </b></label>
   
      <textarea id="prod-desc" name="prod-desc"></textarea>
    </div>
    <!-- upload image -->
   <div class="prod-img">
      <form id="form" method="post" enctype="multipart/form-data">
      <label for="prod-img"><b>Medicine Image : </b></label>
      <input type="file" id="prod-img" name="files[]" multiple>

      <!-- display image -->
      <div id="product_image"></div>
    </div>

    <div> 
      <button type="submit" class="btn">Upload Image</button>
      <button type="button" id="add-product" class="btn">Add Medicine</button>
    </div>  
  </form>

</div>

<script src="/javascript/add-product.js"></script>
<script src="/javascript/upload.js"></script>