{{#if categories.length}}
<section>
  <h2>Select Category to add product</h2>
  <ul>
    {{#each categories as |category|}}         
        <li>   
          <div>       
          <button class="categorybtn" href="/dashboard/add/{{id}}"> {{category_name}} </button>
          </div>   
        </li> 
    {{/each}}
  </ul>
</section>
{{/if}}

