 <div class="container container-fluid time-block">
  <!-- Time Div 8 AM -->
   <div class="input-group mborder">
      <div class="input-group-prepend row">
        <span class="input-group-text hour">08:00 AM</span>
      </div>
      <textarea value="" id="entry8am" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
      <div class="input-group-append">
        <button id="button8am" class="btn btn-outline-secondary saveBtn" type="button"><i
            class="far fa-save"></i></button>
      </div>
    </div>
    <!-- Time Div 9 AM  -->
    <div class="input-group mborder">
      <div class="input-group-prepend row">
        <span class="input-group-text hour">09:00 AM</span>
      </div>
      <textarea value="" id="entry9am" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
      <div class="input-group-append">
        <button id="button9am" class="btn btn-outline-secondary saveBtn" type="button"><i
            class="far fa-save"></i></button>
      </div>
    </div>

    <!-- Time Div 10 AM -->
    <div class="input-group mborder">
      <div class="input-group-prepend row">
        <span class="input-group-text hour">10:00 AM</span>
      </div>
      <textarea id="entry10am" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
      <div class="input-group-append">
        <button id="button10am" class="btn btn-outline-secondary saveBtn" type="button"><i
            class="far fa-save"></i></button>
      </div>
    </div>

    <!-- Time Div 11 AM -->
    <div class="input-group mborder">
      <div class="input-group-prepend row">
        <span class="input-group-text hour">11:00 AM</span>
        </div>
        <textarea id="entry11am" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
        <div class="input-group-append">
          <button id="button11am" class="btn btn-outline-secondary saveBtn" type="button"><i
              class="far fa-save"></i></button>
        </div>
      </div>

      <!--Time Div 12 PM -->
      <div class="input-group mborder">
        <div class="input-group-prepend row">
          <span class="input-group-text hour">12:00 PM</span>
        </div>
        <textarea id="entry12pm" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
        <div class="input-group-append">
          <button id="button12pm" class="btn btn-outline-secondary saveBtn" type="button"><i
              class="far fa-save"></i></button>
        </div>
      </div>

      <!-- Time Div 1 PM -->
      <div class="input-group mborder">
        <div class="input-group-prepend row">
          <span class="input-group-text hour"> 01:00 PM</span>
        </div>
        <textarea id="entry1pm" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
        <div class="input-group-append">
          <button id="button1pm" class="btn btn-outline-secondary saveBtn" type="button"><i
              class="far fa-save"></i></button>
        </div>
      </div>

      <!-- Time Div 2 PM -->
      <div class="input-group mborder">
        <div class="input-group-prepend row">
          <span class="input-group-text hour">02:00 PM</span>
        </div>
        <textarea id="entry2pm" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
        <div class="input-group-append">
          <button id="button2pm" class="btn btn-outline-secondary saveBtn" type="button"><i
              class="far fa-save"></i></button>
        </div>
      </div>

      <!-- Time Div 3 PM -->
      <div class="input-group mborder">
        <div class="input-group-prepend row">
          <span class="input-group-text hour">03:00 PM</span>
        </div>
        <textarea id="entry3pm" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
        <div class="input-group-append">
          <button id="button3pm" class="btn btn-outline-secondary saveBtn" type="button"><i
              class="far fa-save"></i></button>
        </div>
      </div>

      <!-- Time Div 4 PM -->
      <div class="input-group mborder">
        <div class="input-group-prepend row">
          <span class="input-group-text hour">04:00 PM</span>
        </div>
        <textarea id="entry4pm" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
        <div class="input-group-append">
          <button id="button4pm" class="btn btn-outline-secondary saveBtn" type="button"><i
              class="far fa-save"></i></button>
        </div>
      </div>

      <!-- Time Div 5PM -->
      <div class="input-group mborder">
        <div class="input-group-prepend row">
          <span class="input-group-text hour">05:00 PM</span>
        </div>
        <textarea id="entry5pm" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
        <div class="input-group-append">
          <button id="button5pm" class="btn btn-outline-secondary saveBtn" type="button"><i
              class="far fa-save"></i></button>
        </div>
      </div>
      <!-- Time Div 6PM -->
      <div class="input-group mborder">
        <div class="input-group-prepend row">
          <span class="input-group-text hour">06:00 PM</span>
        </div>
        <textarea value="" id="entry6pm" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
        <div class="input-group-append">
          <button id="button6pm" class="btn btn-outline-secondary saveBtn" type="button"><i
              class="far fa-save"></i></button>
        </div>
      </div>
      </div>

{{#if posts.length}}
<section>
  <h2>Your Products</h2>
    {{#each product as |product|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>

<script src="/javascript/add-post.js"></script>