{{!--<div class="grid-container">
      <div class="profile-photo">
        <img src="https://res.cloudinary.com/personal-inventory-management/image/upload/v1616542037/default_paul_dkx9mo.jpg" alt="Profile picture">
      </div>
<div class="product-nav">--}}

 {{#each products as |product| }}
  <div class="grid-container">
    <div class="profile-photo">
      <img src="{{product.profile}}" alt="profile pic" width="300" height="300">
    </div>
  <div class="product-nav">
  {{/each}}

<button type="button" onClick="document.getElementById('frame').src='/dashboard/products'">My Inventory</button>
<button type="button" onClick="document.getElementById('frame').src='/dashboard/suggestions'">Daily Suggestions</button>
<button type="button" onClick="document.getElementById('frame').src='/dashboard/new'">Add Item</button>
<button type="button" onClick="document.getElementById('frame').src='/dashboard/delete'">Remove Item</button>

  </div>

  

  <div class="scheduler">
    <!-- Monday  -->
          <div class="input-group mborder">
            <div class="input-group-prepend row">
              <span class="input-group-text day">Monday:</span>
            </div>
            <textarea value="" id="entryMonday" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
            <div class="input-group-append">
              <button id="buttonMonday" class="btn btn-outline-secondary saveBtn" type="button"><i
                  class="far fa-save"></i></button>
            </div>
          </div>
      
          <!-- Tuesday -->
          <div class="input-group mborder .col-lg-">
            <div class="input-group-prepend row">
              <span class="input-group-text day">Tueaday:</span>
            </div>
            <textarea id="entryTuesday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
            <div class="input-group-append">
              <button id="buttonTuesday" class="btn btn-outline-secondary saveBtn" type="button"><i
                  class="far fa-save"></i></button>
            </div>
          </div>
      
          <!-- Wednesday -->
          <div class="input-group mborder">
            <div class="input-group-prepend row">
              <span class="input-group-text day">Wednesday:</span>
              </div>
              <textarea id="entryWednesday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonWednesday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
      
            <!--Thursday -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <span class="input-group-text day">Thursday:</span>
              </div>
              <textarea id="entryThursday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonThursday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
      
            <!-- Friday -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <span class="input-group-text day"> Friday:</span>
              </div>
              <textarea id="entryFriday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonFriday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
      
            <!-- Saturday -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <span class="input-group-text day">Saturday:</span>
              </div>
              <textarea id="entrySaturday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonSaturday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
      
            <!-- Sunday -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <span class="input-group-text day">Sunday:</span>
              </div>
              <textarea id="entrySunday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonSunday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
            {{> calendar}}
            </div>

          
         <div class="iframediv"> 
  <iframe id="frame" class="responsive-iframe" src="/dashboard/products" frameborder="0"></iframe>
</div>

  </iframe>
  {{#if products.length}}
  <iframe class="responsive-iframe" src="/dashboard/calendar" frameborder ="0"></iframe>
    <section>
      <h2>Your products</h2>
      {{#each products as |product|}}
          {{> calendar product}}
          <p>{{product.product_name}} / {{product.stock}}</p>
      {{/each}}
    </section>
  </iframe>
  {{/if}}


</div>

<script src="/javascript/script.js"></script>



