<p id="currentDay" class="lead"></p>

 {{#each products as |product| }}
  <div class="grid-container">
    <div class="profile-photo">
      <img src="{{product.profile}}" alt="profile pic" width="300" height="300">
    </div>
  <div class="product-nav">
  {{/each}}

<button type="button" onClick="document.getElementById('frame').src='/dashboard/products'">My Inventory</button>
<button type="button" onClick="document.getElementById('frame').src='/dashboard/suggestion'">Daily Suggestions</button>
<button type="button" onClick="document.getElementById('frame').src='/dashboard/new'">Add Item</button>
<button type="button" onClick="document.getElementById('frame').src='/dashboard/delete'">Delete Item</button>

  </div>

  
  <div class="scheduler">
          <!-- day 1 -->
          <div class="input-group mborder">
            <div class="input-group-prepend row">
              <div class="cal-date input-group-text"></div>
            </div>
            <textarea value="" id="day1" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
            <div class="input-group-append">
              <button id = "save1"  class="btn btn-outline-secondary saveBtn" type="button"><i
                  class="far fa-save"></i></button>
            </div>
          </div>
          <!-- day 2 -->
          <div class="input-group mborder">
            <div class="input-group-prepend row">
              <div class="cal-date input-group-text"></div>
            </div>
            <textarea value="" id="day2" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
            <div class="input-group-append">
              <button id = "save2"  class="btn btn-outline-secondary saveBtn" type="button"><i
                  class="far fa-save"></i></button>
            </div>
          </div>
          <!-- day 3 -->
          <div class="input-group mborder">
            <div class="input-group-prepend row">
              <div class="cal-date input-group-text"></div>
            </div>
            <textarea value=""  id="day3" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
            <div class="input-group-append">
                <button id = "save3"  class="btn btn-outline-secondary saveBtn" type="button"><i
                class="far fa-save"></i></button>
            </div>
          </div>
            <!-- day 4 -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <div class="cal-date input-group-text"></div>
              </div>
              <textarea value=""  id="day4" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id = "save4"  class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
            <!-- day 5 -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <div class="cal-date input-group-text"></div>
              </div>
              <textarea value="" id="day5" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id = "save5" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
            <!-- day 6 -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <div class="cal-date input-group-text"></div>
              </div>
              <textarea value="" id="day6" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id = "save6"  class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
            <!-- day 7 -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <div class="cal-date input-group-text"></div>
              </div>
              <textarea value="" id="day7" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id = "save7"  class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
  </div>

          
         <div class="iframediv"> 
  <iframe id="frame" class="responsive-iframe" src="/dashboard/products" frameborder="0"></iframe>
</div>
    
    
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="/javascript/script.js"></script>

</body>




