
<div class="grid-container">
      <!-- upload image -->
    <div class="profile-photo">
        <!-- display image -->
        <div id="product_image">
          <p id="data"></p>
        </div>
        <form method="post" enctype="multipart/form-data">
          <label for="prod-img"><b>Add a profile picture!</b></label>
          <input type="file" id="prod-img" name="files[]" multiple>
          <input type="submit" value="Upload Image" name="submit">
        </form>
    </div>
  <div class="product-nav">
      <button class="my-inventory"><a href="/dashboard/products">My Inventory</button></a>
       <button class="suggetions">Daily Suggestions</button>
      <button class="add-item"><a href="/dashboard/new">Add Item</button></a>
      <button class="delete-item">Delete Item</button>
  </div>

  <div class="scheduler">
    <div class="todays-date">
      <p id="currentDay" class="lead"></p>
    </div>
    <!-- Monday  -->
          <div class="input-group mborder">
            <div class="input-group-prepend row">
              <span class="input-group-text day">Monday:</span>
            </div>
            <textarea value="" id="entryMonday" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
            <div class="input-group-append">
              <button id="buttonMonday" class="btn btn-outline-secondary saveBtn" type="button"><i
                  class="far fa-save"></i></button>
            </div>
          </div>
      
          <!-- Tuesday -->
          <div class="input-group mborder .col-lg-">
            <div class="input-group-prepend row">
              <span class="input-group-text day">Tueaday:</span>
            </div>
            <textarea id="entryTuesday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
            <div class="input-group-append">
              <button id="buttonTuesday" class="btn btn-outline-secondary saveBtn" type="button"><i
                  class="far fa-save"></i></button>
            </div>
          </div>
      
          <!-- Wednesday -->
          <div class="input-group mborder">
            <div class="input-group-prepend row">
              <span class="input-group-text day">Wednesday:</span>
              </div>
              <textarea id="entryWednesday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonWednesday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
      
            <!--Thursday -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <span class="input-group-text day">Thursday:</span>
              </div>
              <textarea id="entryThursday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonThursday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
      
            <!-- Friday -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <span class="input-group-text day"> Friday:</span>
              </div>
              <textarea id="entryFriday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonFriday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
      
            <!-- Saturday -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <span class="input-group-text day">Saturday:</span>
              </div>
              <textarea id="entrySaturday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonSaturday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
      
            <!-- Sunday -->
            <div class="input-group mborder">
              <div class="input-group-prepend row">
                <span class="input-group-text day">Sunday:</span>
              </div>
              <textarea id="entrySunday" value="" type="text" cols="100" rows="2" class="form-control description textarea"></textarea>
              <div class="input-group-append">
                <button id="buttonSunday" class="btn btn-outline-secondary saveBtn" type="button"><i
                    class="far fa-save"></i></button>
              </div>
            </div>
            </div>

            <div class="iframe-title">Place Holder Title</div>
          <div class="iframediv">
    <iframe src="/dashboard/new" width="1405px" height="500px"></iframe>
  </div>
           




<script src="/javascript/add-post.js"></script>
<script src="/javascript/upload.js"></script>